body {
  font-family: sans-serif;
  width: 900px:auto;
  padding-left: 20px;
  font-size: 20px;
}

.header {
  width:1200px;
  height: 200px;
  color: white;

}

.header-container {
  width: 1200px;
  background-color: #95afb2;
  margin-bottom: 20px;
  border-color: #d9534f;
  border: solid 8px;
}

#title {
  padding-top: 50px;
  padding-left: 50px;
  font-size: 90px;
}

#jls {
  color: #b26f05;
}

img {
  margin-top:20px;
}

h1 {
  padding-top: 20px;
}
